{% extends "master.html" %}

{% load static %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lista de Proveedores</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock head %}

{% block body %}

<body>
    <div class="container mt-5">
        <div class="header-container">
            <h1>Lista de Categorias</h1>
            <a href="{% url 'agregar_categoria' %}" class="agregar-proveedor">Agregar categoria</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmarEliminar{{ categoria.id }}">
                            Eliminar
                        </button>
                        <div class="modal fade" id="confirmarEliminar{{ categoria.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminar{{ categoria.id }}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmarEliminar{{ categoria.id }}Label">Confirmar Eliminación</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Estás seguro de que deseas eliminar el proveedor "{{ categoria.nombre }}"?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <form action="{% url 'eliminar_categoria' categoria.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Agrega tus scripts JS aquí si los necesitas -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>

<style>
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .agregar-proveedor {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
    }

    .agregar-proveedor:hover {
        background-color: #00afff;
        color: white;
    }
</style>

{% endblock %}