{% extends "master.html" %}

{% load static %}

{% block head %}
<!-- <script type="text/javascript" src="{% static 'js/index.js' %}"></script> -->
<meta charset="UTF-8">
<title>Modificar Producto</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock head %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Modificar Producto</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script type="text/javascript" src="{% static 'js/home.js' %}"></script> -->
</body>


{% endblock %}