{% extends "master.html" %}

{% load static %}

{% block head %}

<meta charset="UTF-8">
<title>Productos - Cliente</title>
<!-- <script type="text/javascript" src="{% static 'js/index.js' %}"></script> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock head %}

{% block body %}

<body>
    <h1>Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <h3>{{ producto.nombre }}</h3>
                <p>Descripción: {{ producto.descripcion }}</p>
                <p>Precio: {{ producto.precio }}</p>
                <!-- Otros detalles que quieras mostrar -->
            </li>
        {% endfor %}
    </ul>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script type="text/javascript" src="{% static 'js/home.js' %}"></script> -->
</body>
{% endblock %}